<div class="header">
    <div class="container-fluid">
        <div class="side-nav-button" (click)="sideNavToggle()">
          <i class="fa fa-bars"></i>
        </div>
        <div class="nav-logo">
            <img src="/assets/img/Logo2.png" alt="logo">
        </div>

        <div class="nav-items">
            <div class="item">
                <a routerLink="home" routerLinkActive="active">Home</a>
            </div>
            <div class="item">
                <a href="/">Dashboard</a>
            </div>
            <div class="item-button">
                <button  *ngIf="menuType==='default'" type="button" class="btn btn-info " routerLink="/sign-up" routerlinkactive="active">Sign Up</button>
            </div>
            <div class="item-button">
                <button  *ngIf="menuType==='default'" type="button" class="btn btn-info " routerLink="/login" routerlinkactive="active">Login</button>
            </div>
            <div class="item-button">
                <button  *ngIf="menuType==='admin'" type="button" class="btn btn-info ">Admin</button>
          </div>
            <div class="item-button">
              <button *ngIf="menuType==='admin'" type="button" class="btn btn-info " (click)="logout()" >Logout </button>  
          </div>

    </div>
</div>











 