<div class="login">
    <div class="background-image">
            <div class="card">
              <div class="card-content">
                <h1>LOGIN</h1>
                <p>{{authError}}</p>
                <form [formGroup]="ngForm" (ngSubmit)="login(ngForm)" autocomplete="off" class="signup-form">
                    <input class="form-input" type="text"   name="email"  placeholder="Enter Email" formControlName="email">
                    <input class="form-input" type="password" name="password" placeholder="Enter Password" formControlName="password">
                    
                    <button class="btn btn-info " type="submit" formControlName="submit" name="submit">LOGIN</button>
                    <a class="login-link" routerLink="/sign-up"> Don't have an Account? Click here</a>

                </form>
              </div>
            </div>
    </div>
</div>