<div class="container extra_container">
    <div class="row">
        <div class="md-col-12">Add Doctor</div>
    </div>

    <form [formGroup]="ngForm" (ngSubmit)="onsubmit(ngForm)" autocomplete="off">
        <div class="row">
            <div class="col-md-6"> Doctor Name </div>
            <div class="col-md-6"><input type="text" class="form-control" name="name" formControlName="NAME"></div>
        </div>
        <div class="row">
            <div class="col-md-6"> Doctor ID </div>
            <div class="col-md-6"><input type="text" class="form-control" name="id" formControlName="ID"></div>
        </div>
        <div class="row">
            <div class="col-md-6"> Doctor Age </div>
            <div class="col-md-6"><input type="text" class="form-control" name="age" formControlName="AGE"></div>
        </div>
        <div class="row">
            <div class="col-md-6"> Doctor Tel </div>
            <div class="col-md-6"><input type="text" class="form-control" name="tel" formControlName="TEL"></div>
        </div>
        <div class="row">
            <div class="col-md-6"> Doctor addr </div>
            <div class="col-md-6"><input type="text" class="form-control" name="tel" formControlName="LIEU"></div>
        </div>
        <div class="row">
            <div class="col-md-6"> Doctor Specialty </div>
            <div class="col-md-6"><input type="text" class="form-control" name="tel" formControlName="SPECIALTY"></div>
        </div>
        <div class="row">
            <div class="col-md-12"><input type="submit" class="btn btn-outline-danger" name="submit" formControlName="submit" routerlink="/display-patient" routerLinkActive="active">
            </div>
        </div>
    
    </form>
    
</div>

