<div class="container">
    <h1>DOCTOR INFORMATION</h1>
    <table class="table">
        <thead>
            <th class="title"> Name</th>
            <th class="title"> Id</th>
            <th class="title"> Age</th>
            <th class="title"> Tel</th>
            <th class="title"> Specialty</th>
            <th class="title">Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let doc of doctors">
                <td >{{doc.NAME}}</td>
                <td >{{doc.ID}}</td>
                <td >{{doc.AGE}}</td>
                <td >{{doc.TEL}}</td>
                <td >{{doc.SPECIALTY}}</td>
                <td class="action">
                    <a class="btn btn-danger" [routerLink]="['/update/',doc.ID]">Update</a>
                    <button  class="btn btn-outline-danger" (click)="deleteDoctor(doc.ID)">Delete</button>
                 </td>
            </tr>
        </tbody>
    </table>
    
    
    </div>